API_ID=20185283
API_HASH=d27f0b83ce5cc3c864021afe62b73b95
BOT_TOKEN=123456:7153680062:AAHU5w3Nh6xAFe7Giodt5OwX1APnAuyCDvc
SESSION_STRING=1BVtsOLgBuwW1zu2qv9xQ-SMKqfBxT7ojDGc38e6HPCXdDV3IWnA4QLPCcBi6ZmXU9uTKctjURqHbwuZlvWS9kzMHuMPnPzwHfcCmMNqbveVVjjVDZ2_HjC7sQXz7fDoc4de6JgpQ7Is42yinrOIcwVRIgLLlQyVg-DGz8H_QglekroCUHfTSGZfYo2MfrF38_IJwPG0oereMqdEU2q7mxBdw-F4qAmssZ8onZR4gciIkG9dKS6Z1MnBJCazwOSjxM_PlMa7CO1cwhi4dLZf_SjdUrOFyFgMZ2IgM7vyfTaFOz_pxQgKDiR2-OCUXh4WMULh_vmQGTJ-4blgwuAm0OE3kMN9Azqs=
CHAT=136817688
ADMINS=5387926427
